//------------------------------------------------------------------------------
// @component: Navbar
//------------------------------------------------------------------------------
// @description
//
//------------------------------------------------------------------------------

//
// @settings

// Layout Variables


//
// @scss
.c-navbar {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	&-logo {
		@include type(title);
		line-height: 1;
		float: left;
		flex: 1;
		margin-bottom: 0;
		padding: 16px;
	}

	&-menu {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	&-menu-item {
		display: flex;
		float: right;
	}

	&-menu-link {
		display: inline-block;
		font-size: 16px;
		line-height: 3.5;
		color: #868686;
		padding: 0 16px;
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}

	&-menu-text {
		padding: 8px;
	}

	&-icon {
		margin-right: 0;
	}
}
