//------------------------------------------------------------------------------
// @component: Navbar
//------------------------------------------------------------------------------
// @description
//
//------------------------------------------------------------------------------

//
// @settings

// Layout Variables


//
// @scss
.c-navbar {
	overflow: hidden;
	background-color: #f1f1f1;
	border-bottom: groove;

	&-svg {
		position: absolute;
		width: 0;
		height: 0;
	}

	&-editor-icons {
		position: absolute;
		width: 0;
		height: 0;
	}

	&-menu {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	&-menu-link {
		float: left;
		font-size: 16px;
		color: #868686;
		text-align: center;
		padding: 16px;
		text-decoration: none;

		&:hover {
			text-decoration: none;
			background-color: #eeeeee;
			color: #212121;
		}
	}

	&-menu-link-icon {
		color: #757575;
		width: 32px;
		height: 32px;
	}

	&-menu-logo {
		float: left;
		font-size: 20px;
		color: #868686;
		text-align: center;
		padding: 16px;
		text-decoration: none;
	}

	&-menu-icon {
		float: right;
		font-size: 16px;
		color: #868686;
		text-align: center;
		padding: 16px;
		text-decoration: none;
	}
}
