//------------------------------------------------------------------------------
// @component: Sidebar
//------------------------------------------------------------------------------
// @description
//
//------------------------------------------------------------------------------

//
// @settings

// Layout Variables


// Theme Variables
$menu-link-color: $black-54 !default;
$menu-link-hover-color: $default-action-color-hover !default;


//
// @scss
.c-sidebar {
	overflow: hidden;
	display: flex;
	flex-wrap: nowrap;
	width: 16%;
	border: 1px solid transparent;
	border-right-color: #e7e7e7;

	&-menu {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	&-menu-item {
		display: flex;
	}	

	&-menu-link {
		display: block;
		font-size: 16px;
		line-height: 3.5;
		text-decoration: none;
		color: $menu-link-color;
		padding: 0 16px;

		&:hover {
			color: $menu-link-hover-color;
		}
	}

	&-menu-text {
		padding: 8px;
	}
}
