extends layout.pug

block content
	.container-fluid
		.row
			.col-sm-3.col-lg-2
				.side-navbar
					ul
						a(href="#")
							li Link-1
						a(href="#")
							li Link-2
						a(href="#")
							li Link-3
			.col-sm-9.col-lg-10
				p Page content for demo page