extends layout.pug

block content
	.container-fluid
		.row
			.col-lg-2
				.c-sidebar
					ul.c-sidebar-menu
						li.c-sidebar-menu-item
							a.c-sidebar-menu-link(href="#")
								span.c-sidebar-menu-text Link-1
						li.c-sidebar-menu-item
							a.c-sidebar-menu-link(href="#")
								span.c-sidebar-menu-text Link-2
						li.c-sidebar-menu-item
							a.c-sidebar-menu-link(href="#")
								span.c-sidebar-menu-text Link-3
						li.c-sidebar-menu-item
							a.c-sidebar-menu-link(href="#")
								span.c-sidebar-menu-text Link-4
						li.c-sidebar-menu-item
							a.c-sidebar-menu-link(href="#")
								span.c-sidebar-menu-text Link-5
			.col-lg-10
				p Page content for demo page