extends layout.pug

block content
	.container-fluid
		.wrap
			.c-sidebar
				ul.c-sidebar-menu
					li.c-sidebar-menu-item
						a.c-sidebar-menu-link(href="#")
							span.c-sidebar-menu-text Link-1
					li.c-sidebar-menu-item
						a.c-sidebar-menu-link(href="#")
							span.c-sidebar-menu-text Link-2
					li.c-sidebar-menu-item
						a.c-sidebar-menu-link(href="#")
							span.c-sidebar-menu-text Link-3
					li.c-sidebar-menu-item
						a.c-sidebar-menu-link(href="#")
							span.c-sidebar-menu-text Link-4
					li.c-sidebar-menu-item
						a.c-sidebar-menu-link(href="#")
							span.c-sidebar-menu-text Link-5