extends layout.pug

block head
	header
		.logo
			h1 <br>Styleguide
			h4 Git
		.content
			p A Styleguide Driven Development System for creating, managaing, customizing, & editing themes for phpBB.
			p GSoC 2017 project being developed by Sahil Khokhar.
		.home-navigation
			a.button(href="./demo") Demo
			|
			|
			a.button(href="./documentation") Documentation
			|
			|
			a.button(href="./settings") App Settings
		hr
block content
	.container
		p Content of the Home page will go here!