extends layout.pug

block head
	header.c-header
		.c-header-logo
			h1 <br>Styleguide
			h3 Git
		.c-header-content
			p A Styleguide Driven Development System for creating, managaing, customizing, & editing themes for phpBB.
			p GSoC 2017 project being developed by Sahil Khokhar.
		.c-header-nav
			a.c-header-nav-button(href="./demo") Demo
			|
			|
			a.c-header-nav-button(href="./documentation") Documentation
			|
			|
			a.c-header-nav-button(href="./settings") App Settings
block content
		p Content of the Home page will go here!