doctype html

html
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE-edge, chrome=1")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Styleguide Driven Development
		link(rel="stylesheet", href="/css/core.0.12.0.css")
		link(rel="stylesheet", href="/css/theme.css")
		script(src="https://unpkg.com/vue@2.0.3/dist/vue.js")
		script(src='/js/script.js')
	body
		include includes/sprite.pug
		block head
			.c-navbar
				h3.c-navbar-logo Logo
				ul.c-navbar-menu
					li.c-navbar-menu-item
						a.c-navbar-menu-link(href="https://github.com/sahil505/StyleGuideDesigner", target="_blank")
							svg.o-icon.c-navbar-icon
								use(xlink:href="#github")
					li.c-navbar-menu-item
						a.c-navbar-menu-link(href="/documentation")
							svg.o-icon.c-navbar-icon
								use(xlink:href="#faq")
							span.c-navbar-menu-text Documentation
					li.c-navbar-menu-item
						a.c-navbar-menu-link(href="/settings")
							svg.o-icon.c-navbar-icon
								use(xlink:href="#settings")
							span.c-navbar-menu-text Settings
					li.c-navbar-menu-item
						a.c-navbar-menu-link(href="/demo")
							svg.o-icon.c-navbar-icon
								use(xlink:href="#app")
							span.c-navbar-menu-text Demo
					li.c-navbar-menu-item
						a.c-navbar-menu-link(href="/")
							svg.o-icon.c-navbar-icon
								use(xlink:href="#home")
							span.c-navbar-menu-text Home
		block content
		block foot
			footer.c-footer
				a.c-footer-icon-link(href="https://github.com/sahil505/StyleGuideDesigner", target="_blank")
					svg.o-icon.c-footer-icon
						use(xlink:href="#github")
				p.c-footer-text Developed for <a href="https://www.phpbb.com/" target="_blank">phpBB</a>