doctype html

html
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE-edge, chrome=1")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Styleguide Driven Development
		link(rel="stylesheet", href="/css/core.0.12.0.css")
		link(rel="stylesheet", href="/css/style.css")
	body
		block head
			.c-navbar
				ul.c-navbar-menu
					li.c-navbar-menu-item
						a.c-navbar-menu-logo(href="/") Logo
					li
						a.c-navbar-menu-link(href="/demo") Demo
					li
						a.c-navbar-menu-link(href="/documentation") Documentation
					li
						a.c-navbar-menu-link(href="/settings") App Settings
					li
						a.c-navbar-menu-icon(href="#") Git
			hr
		block content
		block foot
			footer
				hr
				a(href="https://github.com/sahil505/StyleGuideDesigner", target="_blank") Git
				p Developed for <a href="https://www.phpbb.com/" target="_blank">phpBB</a>