extends layout.pug

block head
	.navbar
		.navbar
		ul
			li
				a.sdd-logo(href="/") Logo
			li
				a(href="/demo") Demo
			li
				a(href="/documentation") Documentation
			li
				a(href="#") App Settings
		a(href="https://github.com/sahil505/StyleGuideDesigner", target="_blank"): img.icon(src="/img/github-icon-1.svg" alt="github")
	hr
block content
	.container
		p Content of the Settings page will go here!