footer,
header {
	text-align: center;
}

.container {
	text-align: center;
}

.c-navbar {
	overflow: hidden;
	background-color: #f1f1f1;
}

.c-navbar-menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.c-navbar-menu-link {
	float: left;
	font-size: 1.0rem;
	color: #868686;
	text-align: center;
	padding: 17px 16px;
	text-decoration: none;
}

.c-navbar-menu-link:hover {
	text-decoration: none;
	background-color: #eeeeee;
	color: #212121;
}

#c-navbar-logo {
	color: #868686;
	font-size: 2.1rem;
	padding: 0 0.5rem;
	white-space: nowrap;	
}

.c-navbar .c-github-icon {
	float: right;
	font-size: 1.0rem;
	color: #868686;
	text-align: center;
	padding: 17px 16px;
	text-decoration: none;
}

.container-fluid {
	margin-right: auto;
	margin-left: auto;
}

.container-fluid:before,
.row:before,
.row:after,
.container-fluid:after {
	display: table;
	content: " ";
}

.container-fluid:after,
.row:after {
	clear: both;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.col-sm-3, 
.col-lg-2, 
.col-sm-9 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

@media (min-width: 768px) {
	.col-sm-9 {
		float: left;
		width: 75%;
	}
}

@media (min-width: 768px) {
	.col-sm-3 {
		float: left;
		width: 25%;
	}
}

@media (min-width: 1200px) {
	.col-lg-2{
		float: left;
		width: 16.66666667%;
	}
}

.c-sidebar {
	text-align: center;
	min-height: 500px;
	margin: 0;
	border: 1px solid transparent;
	background-color: #f1f1f1;
	border-color: #e7e7e7;	
}

.c-sidemenu {
	list-style-type: none;
	font-size: 1.3rem;
	margin: 0;
	padding: 0;
}

.c-sidemenu-item {
	padding-top: 1.0rem;
	color: #868686;
}

.c-sidemenu-link {
	font-size: 1.25rem;
	font-weight: 500;
	line-height: normal;
	white-space: nowrap;
	text-decoration: none;
	letter-spacing: normal;
	color: #868686;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	height: 48px;
	padding: 0 1rem;
	cursor: pointer;
}

.c-sidemenu-link:hover {
	text-decoration: none;
	background-color: #eeeeee;
	color: #212121;
}

@media (min-width: 768px) {
	.c-sidebar {
		border-radius: 4px;
	}
}