.icon{
	height: 3%;
	width: 3%;
}

a{
	text-decoration: none;
	color: #d9534f;
}

p{
	text-align: center;
}

.headlogo{
	height: 15%;
	width: 20%;
}

.container{
	text-align: center;
	font-family: sans-serif;
}

.container p{
	padding-left: 19%;
	padding-right: 19%;
}

.container .logo h1{
	font-size: 50px;
	color: #3d4a57;
}
#footer{
	text-align: center;
}