extends layout.pug

block head
	.container
		.logo
			h1 Styleguide
			img.icon(src="/assets/img/github_icon.png" alt="github")
		.content
			p A Styleguide Driven Development System for creating, managaing, customizing, & editing themes for phpBB.
			p GSoC 2017 project being developed by Sahil Khokhar.
		.home-buttons
			a(href="./demo") Demo
			|
			|
			a(href="./documentation") Documentation
			|
			|
			a(href="./settings") App Settings
		hr
block content
	p Content of the Home page will go here!