doctype

html
	head
		title SDD
		link(rel='stylesheet', href='/assets/css/style.css')
	body
		block head
		block content
		block foot
			hr
			#footer
				a(href='https://github.com/sahil505/StyleGuideDesigner', target='_blank'): img.icon(src="/assets/img/github_icon.png")
				p Developed for <a href='https://www.phpbb.com/' target='_blank'>phpBB</a>