doctype html

html
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE-edge, chrome=1")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title SDD
		link(rel="stylesheet", href="/assets/css/style.css")
	body
		block head
		block content
		block foot
			hr
			#footer
				a(href="https://github.com/sahil505/StyleGuideDesigner", target="_blank"): img.icon(src="/assets/img/github-icon-1.svg" alt="github")
				p Developed for <a href="https://www.phpbb.com/" target="_blank">phpBB</a>